/* Общие стили страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Стили для заголовка */
header {
    background-color: #94e797;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Стили для навигации */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
}

/* Основная секция */
main {
    padding: 20px;
}

/* Стили для футера */
footer {
    text-align: center;
    background-color: #94e797;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Стили для кнопок */
.button {
    background-color:  #94e797;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #45a049;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Стили для фильтрации данных */
#filter {
    margin-bottom: 20px;
}

#filter label {
    margin-right: 10px;
}

#filter input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
}

/* Стили для прогноза погоды */
#forecastContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.forecast-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.forecast-item h3 {
    margin-top: 0;
}

.forecast-item p {
    margin: 5px 0;
}
